@font-face {
  font-family: 'Digital';
  src: url(../fonts/digital-7.regular.ttf) format('truetype');
  src: url(../fonts/digital-7.regular.eot);
  src: url(../fonts/digital-7.regular.woff) format('woff');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url(../img/geometry2.png);
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: -webkit-box;
  true display: -ms-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 20px 0 0 0;
  text-align: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
  background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  -webkit-box-pen showshadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.deck .card.open {
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* Animation of matched cards */

@-webkit-keyframes pumper {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }url
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pumper {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
url
.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  -webkit-animation: pumper 0.3s linear 1;
  animation: pumper 0.3s linear 1;
}

/*
 * Styles for timer
 */

.timer {
  font: normal 42px/42px Digital, sans-serif;
  color: #980101;
  margin: 0 0 10px 0;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 0 0 1px #bf0000, 0 0 3px #bf0000
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin: 0 0 10px 0;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.stars li {
  list-style: none;
  display: inline-block;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #ffb11a;
}

.stars li.gone {
  opacity: 0;
  -webkit-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.restart i:hover {
  -webkit-animation: rotate 0.3s linear infinite;
  animation: rotate 0.3s linear infinite;
}

/*
 * Styles for pop up dialog
 */

#pop-up-dialog {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 100px 0 0 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.message-wrapper {
  width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 43px;
  line-height: 43px;
  font-size: 43px;
  margin: -15px -35px 0 0;
  color: #484848;
  padding: 0 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#pop-up-message {
  font-size: 24px;
  text-align: center;
}

#pop-up-message span {
  color: #484848;
  font-size: 20px;
  font-style: italic;
}

#play-again {
  display: block;
  margin: 0 auto;
  background: #02ccba;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
}

#play-again:hover {
  background: #049689;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

/*
 * Responsive design
 */

@media only screen and (max-width: 660px) {

  .message-wrapper {
    max-width: 95%;
  }

  .score-panel {
    padding: 10px;
  }

  .deck {
    max-width: 400px;
    min-height: auto;
    padding: 5px;
  }

  .deck .card {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .deck .card.show {
    font-size: 26px;
  }
}

@media only screen and (max-width: 400px) {
  
  .score-panel {
    max-width: 320px;
  }

  .deck {
    max-width: 320px;
    min-height: auto;
    padding: 5px;
  }

  .deck .card {
    width: 60px;
    height: 60px;
  }
}
